In [54]:
import pandas as pd
import pickle
import re
from sklearn.feature_extraction.text import HashingVectorizer,CountVectorizer,TfidfVectorizer
from nltk.stem.snowball import SnowballStemmer

In [55]:
stemmer = SnowballStemmer('english')
def clean_tweet(tweet):
    tweet = re.sub("(@[A-Za-z0-9_]+)|([^A-Za-z \t]) |(\w+:\/\/\S+)", " ", tweet.lower())
    return ' '.join([stemmer.stem(word) for word in tweet.split()])

In [56]:
raw_data = pd.read_csv("trainandtestdata/train.csv",header=None)
raw_data = raw_data.sample(n=1000)
raw_data.head()

,0,1,2,3,4,5
931767,1,1770923027,Mon May 11 22:38:16 PDT 2009,NO_QUERY,CocomeroUIUC,Pistachio is coming back tomorrow
1472660,1,2065413955,Sun Jun 07 08:32:45 PDT 2009,NO_QUERY,tacigt,vou almoÃ§ar na vovÃ³! missed her so bad
328804,0,2010915287,Tue Jun 02 18:10:36 PDT 2009,NO_QUERY,jputman,Twitter is blocked in China now. Support EFF ...
1032317,1,1933177268,Tue May 26 23:11:51 PDT 2009,NO_QUERY,JoJojb,@mcclorybrin catch up already! I sent u a mess...
105965,0,1823321188,Sat May 16 21:39:58 PDT 2009,NO_QUERY,axegrrl,got home from the comic book meetup and the pe...

In [57]:
data = raw_data[[0,5]].copy()
data.columns = [0,1]
data.head()

         0                                                  1
931767   1                 Pistachio is coming back tomorrow
1472660  1          vou almoÃ§ar na vovÃ³! missed her so bad
328804   0  Twitter is blocked in China now.  Support EFF ...
1032317  1  @mcclorybrin catch up already! I sent u a mess...
105965   0  got home from the comic book meetup and the pe...

In [58]:
data[1] = data[1].apply(clean_tweet)
data.head()

         0                                                  1
931767   1                    pistachio is come back tomorrow
1472660  1              vou almoã§ar na vovã³ miss her so bad
328804   0  twitter is block in china now support eff and ...
1032317  1                 catch up alreadi i sent u a messag
105965   0  got home from the comic book meetup and the pe...

In [59]:
vectorizer = TfidfVectorizer(stop_words="english")
vectorizer.fit(data[1])

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [60]:
data_x = vectorizer.transform(data[1])
print(data_x.shape)
data[1].values[1]

(1000, 2577)

'vou almoã§ar na vovã³ miss her so bad'

In [61]:
print(type(data_x))

<class 'scipy.sparse.csr.csr_matrix'>

In [62]:
pickle.dump(vectorizer,open("vectorizer.pkl","wb"))
pickle.dump(data_x,open("data_x.pkl","wb"))
pickle.dump(data[0],open("data_y.pkl","wb"))