In [1]:
import pandas as pd
import pickle
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.stem.snowball import SnowballStemmer

In [2]:
stemmer = SnowballStemmer('english')
def clean_tweet(tweet):
    tweet = re.sub("(@[A-Za-z0-9_]+)|([^A-Za-z \t]) |(\w+:\/\/\S+)", " ", tweet.lower())
    return ' '.join([stemmer.stem(word) for word in tweet.split()])

In [3]:
raw_data = pd.read_csv("trainandtestdata/train.csv",header=None)
raw_data = raw_data.sample(n=10000)
raw_data.head()

,0,1,2,3,4,5
569389,0,2207941972,Wed Jun 17 08:34:48 PDT 2009,NO_QUERY,becomingsanjay,I hope i feel better tomm ! Why did i eat 2 pl...
524806,0,2193619907,Tue Jun 16 08:42:16 PDT 2009,NO_QUERY,chewing_my_foot,Urrgh. Stayed up too late last night organizin...
182186,0,1967078132,Fri May 29 18:56:06 PDT 2009,NO_QUERY,AlyxxDione,@AlMaddin noo cause some one unfollowed me LOL
709416,0,2257607695,Sat Jun 20 14:36:23 PDT 2009,NO_QUERY,luiizamuller,@Dannymcfly http://twitpic.com/7xvhl - follow me
186039,0,1968207653,Fri May 29 20:58:26 PDT 2009,NO_QUERY,PeaceGrl101,awwww i want 1 million followers!

In [4]:
data = raw_data[[0,5]].copy()
data.columns = [0,1]
data.head()

        0                                                  1
569389  0  I hope i feel better tomm ! Why did i eat 2 pl...
524806  0  Urrgh. Stayed up too late last night organizin...
182186  0    @AlMaddin noo  cause some one unfollowed me LOL
709416  0  @Dannymcfly http://twitpic.com/7xvhl - follow me
186039  0                 awwww i want 1 million followers!

In [5]:
data[1] = data[1].apply(clean_tweet)
data.head()

        0                                                  1
569389  0  i hope i feel better tomm whi did i eat plate ...
524806  0  urrgh stay up too late last night organ tasti ...
182186  0                  noo caus some one unfollow me lol
709416  0                                          follow me
186039  0                        awwww i want million follow

In [6]:
vectorizer = TfidfVectorizer(stop_words="english")
vectorizer.fit(data[1])

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [7]:
data_x = vectorizer.transform(data[1])
print(data_x.shape)
data[1].values[1]

(10000, 11509)

"urrgh stay up too late last night organ tasti piec of hay i plan to eat now i'm too tire to eat them"

In [8]:
print(type(data_x))

<class 'scipy.sparse.csr.csr_matrix'>

In [9]:
pickle.dump(vectorizer,open("vectorizer.pkl","wb"))
pickle.dump(data_x,open("data_x.pkl","wb"))
pickle.dump(data[0],open("data_y.pkl","wb"))